/nbproject/private/
*.pdf
nbproject/project.xml
nbproject/project.properties
input3 - kopie~
input3 - kopie
gramatika.txt
.input3 - kopie.un~
test.xml
input2.txt~
input2.txt
.input2.txt.un~
input2.txt
input2.txt
